
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="dark-matter" style="max-width:1000px;">
    <h1>Cadastro de Cidade</h1>


    <label>
        <span>Codigo :</span>
        <input id="id_cidade" type="text" name="id_cidade" placeholder="Informe o codigo" />
    </label>

    <label>
        <span>Nome da Cidade :</span>
        <input id="nome" type="text" name="nome" placeholder="Informe o nome cidade" />
    </label>

    <label>
        <span>Cep :</span>
        <input id="cep" type="text" name="cep" placeholder="Digite o cep" />
    </label>

    <label>
        <span>Estado :</span><select name="estado">
            <option value="">Selecione</option>
            <option value="1">Acre – AC</option>
            <option value="2">Alagoas – AL</option>
            <option value="3">Amapá – AP</option>
            <option value="4">Amazonas – AM</option>
            <option value="5">Bahia  – BA</option>
            <option value="6">Ceará – CE</option>
            <option value="7">Distrito Federal  – DF</option>
            <option value="8">Espírito Santo – ES</option>
            <option value="9">Goiás – GO</option>
            <option value="10">Maranhão – MA</option>
            <option value="11">Mato Grosso – MT</option>
            <option value="12">Mato Grosso do Sul – MS</option>
            <option value="13">Minas Gerais – MG</option>
            <option value="14">Pará – PA</option>
            <option value="15">Paraíba – PB</option>
            <option value="16">Paraná – PR</option>
            <option value="17">Pernambuco – PE</option>
            <option value="18">Piauí – PI</option>
            <option value="19">Rio de Janeiro – RJ</option>
            <option value="20">Rio Grande do Norte – RN</option>
            <option value="21">Rio Grande do Sul – RS</option>
            <option value="22">Rondônia – RO</option>
            <option value="23">Roraima – RR</option>
            <option value="24">Santa Catarina – SC</option>
            <option value="25">São Paulo – SP</option>
            <option value="26">Sergipe – SE</option>
            <option value="27">Tocantins – TO</option>
        </select>
    </label>

    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="Pesquisar" onclick="Pesquisar();" />
    </label>
</div>

<div class="dark-matter" style="max-width: 1000px; margin-top:10px;">
    <label>
        <input type="button" class="button" value="Novo" onclick="Incluir();" />
        <input type="button" class="button" value="Editar" onclick="Editar();" />
    </label>
</div>
<div class="dark-matter" style="max-width: 1000px; margin-top:10px;">
    <table id="gridCidade" class="easyui-datagrid" url="/Cidade/GridCidade/" toolbar="#toolbar"
           pagination="true" rownumbers="false" fitcolumns="true" singleselect="true">
        <thead>
            <tr>
                <th field="id_cidade" width="20" sortable="true">
                    ID
                </th>
                <th field="nome" width="230" sortable="true">
                    Nome
                </th>
                <th field="cep" width="120" sortable="true">
                    CEP
                </th>
                <th field="estado" width="120" sortable="true">
                    estado
                </th>
            </tr>
        </thead>
    </table>
</div>



<script type="text/javascript">

    function Pesquisar() {
        jQuery("#gridCidade").datagrid("load", {
            id_cidade: document.getElementById("id_cidade").value,
            nome: document.getElementById("nome").value,
            cep: document.getElementById("cep").value,
            estado: document.getElementById("estado").value
        });
    }

    function Incluir() {
        location.href = "/Cidade/Criar";
    }


    function Visualizar() {
        var dados = $('#gridCidade').datagrid('getSelected');
        location.href = "/Cidade/Visualizar/" + dados.id_cidade;
    }

    function Editar() {
        var dados = $('#gridCidade').datagrid('getSelected');
        location.href = "/Cidade/Editar/" + dados.id_cidade;
    }

</script>